.gridContainer {
  max-width: 960px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 4fr 1fr 1fr 1fr 2fr 4fr;
  grid-template-rows: auto auto auto auto auto auto auto auto auto;
  grid-template-areas:
    "name contact"
    "study icon5 date1 main1"
    "employment icon6 employerName1 date2 main2"
    "date3 main3"
    "date4 main4"
    "date5 main5"
    "employerName2"
    "employerName3 date6 main6"
    "date7 main7"
    "employerName4 date8 main8"
    "date9 main9"
    "date10 main10"
    "academic icon7 title icon8 skill starRating";
  grid-column-gap: 5px;
  font-family: Roboto;
}

.border {
  grid-column-start: 1;
  grid-column-end: 1;
  background-color: #E7EAF6;
  display: flex;
  align-items: center;
}

h2 {
  font-size: 1.17em;
}

h3 {
  transform: rotate(-90deg);
}

ol, ul, p {
  font-size: 14px;
}

img {
  border-radius: 50%;
  background: url('./Photo.jpg');
  margin-right: 10px;
}

.name {
  grid-area: name;
  grid-column-start: 2;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 2;
}

.contact{
  grid-area: contact;
  grid-column-start:10;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.contact ul {
  list-style-type: none;
  margin-top: 1rem;
  padding-left: .25rem;
}

.contact ul > li {
  padding: .25rem 0;
}

.study {
  grid-area: study;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.vl5 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  display: table;
  height: 100%;
}

.vl5::after {
  content: '';
  display: table;
  margin-left: 15px;
  width: 1px;
  height: 90%;
  background-color: #113f67;
  margin-top:5px;
}

.icon5 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  margin-top: 23px;
}

.date1 {
  grid-area: date1;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.main1 {
  grid-area: main1;
  grid-column-start: 4;
  grid-column-end: 10;
  grid-row-start: 2;
  grid-row-end: 3;
}

.employment {
  grid-area: employment;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 17;
}

.vl6 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 16;
  display: table;
  height: 100%;
}

.vl6::after {
  content: '';
  display: table;
  margin-left: 15px;
  width: 1px;
  height: 97%;
  background-color: #113f67;
  margin-top:5px;
}

.icon6 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 16;
  margin-top: 25px;
}

.employerName1 {
  grid-area: employerName1;
  grid-column-start: 3;
  grid-column-end: 10;
  grid-row-start: 3;
  grid-row-end: 4;
}

.date2 {
  grid-area: date2;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
}

.main2 {
  grid-area: main2;
  grid-column-start: 4;
  grid-column-end: 10;
  grid-row-start: 4;
  grid-row-end: 5;
}

.date3 {
  grid-area: date3;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 6;
}

.main3 {
  grid-area: main3;
  grid-column-start: 4;
  grid-column-end: 10;
  grid-row-start: 5;
  grid-row-end: 6;
}

.date4 {
  grid-area: date4;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 7;
}

.main4 {
  grid-area: main4;
  grid-column-start: 4;
  grid-column-end: 10;
  grid-row-start: 6;
  grid-row-end: 7;
}

.date5 {
  grid-area: date5;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 7;
  grid-row-end: 8;
}

.main5 {
  grid-area: main5;
  grid-column-start: 4;
  grid-column-end: 10;
  grid-row-start: 7;
  grid-row-end: 8;
}

.employerName2 {
  grid-area: employerName2;
  grid-column-start: 3;
  grid-column-end: 10;
  grid-row-start: 8;
  grid-row-end: 9;
}

.employerName3 {
  grid-area: employerName3;
  grid-column-start: 3;
  grid-column-end: 10;
  grid-row-start: 9;
  grid-row-end: 10;
}

.date6 {
  grid-area: date6;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 10;
  grid-row-end: 11;
}

.main6 {
  grid-area: main6;
  grid-column-start: 4;
  grid-column-end: 10;
  grid-row-start: 10;
  grid-row-end: 11;
}

.date7 {
  grid-area: date7;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 11;
  grid-row-end: 12;
}

.main7 {
  grid-area: main7;
  grid-column-start: 4;
  grid-column-end: 10;
  grid-row-start: 11;
  grid-row-end: 12;
}

.employerName4 {
  grid-area: employerName4;
  grid-column-start: 3;
  grid-column-end: 10;
  grid-row-start: 12;
  grid-row-end: 13;
}

.date8 {
  grid-area: date8;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 13;
  grid-row-end: 14;
}

.main8 {
  grid-area: main8;
  grid-column-start: 4;
  grid-column-end: 10;
  grid-row-start: 13;
  grid-row-end: 14;
}

.date9 {
  grid-area: date9;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 14;
  grid-row-end: 15;
}

.main9 {
  grid-area: main9;
  grid-column-start: 4;
  grid-column-end: 10;
  grid-row-start: 14;
  grid-row-end: 15;
}

.date10 {
  grid-area: date10;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 15;
  grid-row-end: 16;
}

.main10 {
  grid-area: main10;
  grid-column-start: 4;
  grid-column-end: 10;
  grid-row-start: 15;
  grid-row-end: 16;
}

.academic {
  grid-area: academic;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 16;
  grid-row-end: 17;
}

.vl7 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 16;
  grid-row-end: 17;
  display: table;
  height: 100%;
}

.vl7::after {
  content: '';
  display: table;
  margin-left: 15px;
  width: 1px;
  height: 75%;
  background-color: #113f67;
  margin-top:5px;
}

.icon7 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 16;
  grid-row-end: 17;
  margin-top: 25px;
}

.title {
  grid-area: title;
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 16;
  grid-row-end: 17;
}

.vl8 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 16;
  grid-row-end: 17;
  display: table;
  height: 100%;
}

.vl8::after {
  content: '';
  display: table;
  margin-left: 25px;
  width: 1px;
  height: 75%;
  background-color: #113f67;
  margin-top:5px;
}

.icon8 {
  grid-column-start: 7;
  grid-column-end: 8;
  grid-row-start: 16;
  grid-row-end: 17;
  text-align: center;
  margin-top: 25px;
}

.skill {
  grid-area: skill;
  grid-column-start: 8;
  grid-column-end: 11;
  grid-row-start: 16;
  grid-row-end: 17;
}

table {
  margin-top: 25px;
}

tr {
width: 100%;
height: 30px;
}

.footer {
  grid-area: footer;
  grid-column-start: 0;
  grid-column-end: 11;
  grid-row-start: 17;
  grid-row-end: 18;
  text-align: center;
  width: 100%;
}

@media (max-width: 768px) {
    .name {width: 100%;}
    .contact {width: 100%;}
    .study {width: 100%;}
    .icon5 {width: 100%;}
    .date1 {width: 100%;}
    .main1 {width: 100%;}
    .employment {width: 100%;}
    .icon6 {width: 100%;}
    .employerName1 {width: 100%;}
    .date2 {width: 100%;}
    .main2 {width: 100%;}
    .date3 {width: 100%;}
    .main3 {width: 100%;}
    .date4 {width: 100%;}
    .main4 {width: 100%;}
    .date5 {width: 100%;}
    .main5 {width: 100%;}
    .employerName2 {width: 100%;}
    .employerName3 {width: 100%;}
    .date6 {width: 100%;}
    .main6 {width: 100%;}
    .date7 {width: 100%;}
    .main7 {width: 100%;}
    .employerName4 {width: 100%;}
    .date8 {width: 100%;}
    .main8 {width: 100%;}
    .date9 {width: 100%;}
    .main9 {width: 100%;}
    .date10 {width: 100%;}
    .main10 {width: 100%;}
    .academic {width: 100%;}
    .icon7 {width: 100%;}
    .title {width: 100%;}
    .icon8 {width: 100%;}
    .skill {width: 100%;}
    .starRating {width: 100%;}
  }
