.gridContainer {
  max-width: 960px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 4fr 1fr 1fr 1fr 2fr 4fr;
  grid-template-rows: auto auto auto auto auto auto auto auto auto;
  grid-template-areas:
    "name contact"
    "employment icon5 date1 main1"
    "employerName1 date2 main2"
    "date3 main3"
    "date4 main4"
    "date4 main5"
    "employerName2"
    "employerName3 date6 main6"
    "date7 main7"
    "employerName4 date8 main8"
    "date9 main9"
    "date10 main10"
    "academic icon6 title icon7 skill starRating";
  grid-column-gap: 5px;
  grid-row-gap: 15px;
  font-family: Roboto;
}

.border {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  background-color: #E7EAF6;
  display: flex;
  align-items: center;
}

h2 {
  font-size: 1.17em;
}

h3 {
  transform: rotate(-90deg);
}

ul, p {
  font-size: 14px;
}

.name {
  grid-column-start: 2;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 2;
}

.contact{
  grid-column-start:10;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.contact ul {
  list-style-type: none;
  margin-top: 1rem;
  padding-left: .25rem;
}

.contact ul > li {
  padding: .25rem 0;
}

.study {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 0;
  grid-row-end: 4;
  display: flex;
  justify-content: flex-start;
}

.employment {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 17;
}

.vl5 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  display: table;
  height: 100%;
}

.vl5::after {
  content: '';
  display: table;
  margin-left: 15px;
  width: 1px;
  height: 5%;
  background-color: #113f67;
  margin-top:5px;
}

.icon5 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 16;
  margin-top: 23px;
}

.vl6 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 16;
  display: table;
  height: 100%;
}

.vl6::after {
  content: '';
  display: table;
  margin-left: 15px;
  width: 1px;
  height: 97%;
  background-color: #113f67;
  margin-top:5px;
}

.icon6 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 16;
  margin-top: 25px;
}

.date1 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.main1 {
  grid-column-start: 4;
  grid-column-end: 10;
  grid-row-start: 2;
  grid-row-end: 3;
}

.employerName1 {
  grid-column-start: 3;
  grid-column-end: 10;
  grid-row-start: 3;
  grid-row-end: 4;
}

.date2 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
}

.main2 {
  grid-column-start: 4;
  grid-column-end: 10;
  grid-row-start: 4;
  grid-row-end: 5;
}

.date3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 6;
}

.main3 {
  grid-column-start: 4;
  grid-column-end: 10;
  grid-row-start: 5;
  grid-row-end: 6;
}

.date4 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 7;
}

.main4 {
  grid-column-start: 4;
  grid-column-end: 10;
  grid-row-start: 6;
  grid-row-end: 7;
}

.date5 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 7;
  grid-row-end: 8;
}

.main5 {
  grid-column-start: 4;
  grid-column-end: 10;
  grid-row-start: 7;
  grid-row-end: 8;
}

.employerName2 {
  grid-column-start: 3;
  grid-column-end: 10;
  grid-row-start: 8;
  grid-row-end: 9;
}

.employerName3 {
  grid-column-start: 3;
  grid-column-end: 10;
  grid-row-start: 9;
  grid-row-end: 10;
}

.date6 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 10;
  grid-row-end: 11;
}

.main6 {
  grid-column-start: 4;
  grid-column-end: 10;
  grid-row-start: 10;
  grid-row-end: 11;
}

.date7 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 11;
  grid-row-end: 12;
}

.main7 {
  grid-column-start: 4;
  grid-column-end: 10;
  grid-row-start: 11;
  grid-row-end: 12;
}

.employerName4 {
  grid-column-start: 3;
  grid-column-end: 10;
  grid-row-start: 12;
  grid-row-end: 13;
}

.date8 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 13;
  grid-row-end: 14;
}

.main8 {
  grid-column-start: 4;
  grid-column-end: 10;
  grid-row-start: 13;
  grid-row-end: 14;
}

.date9 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 14;
  grid-row-end: 15;
}

.main9 {
  grid-column-start: 4;
  grid-column-end: 10;
  grid-row-start: 14;
  grid-row-end: 15;
}

.date10 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 15;
  grid-row-end: 16;
}

.main10 {
  grid-column-start: 4;
  grid-column-end: 10;
  grid-row-start: 15;
  grid-row-end: 16;
}

.academic {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 16;
  grid-row-end: 17;
}

.vl7 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 16;
  grid-row-end: 17;
  display: table;
  height: 100%;
}

.vl7::after {
  content: '';
  display: table;
  margin-left: 15px;
  width: 1px;
  height: 73%;
  background-color: #113f67;
  margin-top:5px;
}

.icon7 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 16;
  grid-row-end: 17;
  margin-top: 25px;
}

.title {
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 16;
  grid-row-end: 17;
}

.vl8 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 16;
  grid-row-end: 17;
  display: table;
  height: 100%;
}

.vl8::after {
  content: '';
  display: table;
  margin-left: 25px;
  width: 1px;
  height: 68%;
  background-color: #113f67;
  margin-top:5px;
}

.icon8 {
  grid-column-start: 7;
  grid-column-end: 8;
  grid-row-start: 16;
  grid-row-end: 17;
  text-align: center;
  margin-top: 25px;
}

.skill {
  grid-column-start: 8;
  grid-column-end: 10;
  grid-row-start: 16;
  grid-row-end: 17;
}

.starRating {
  grid-column-start: 10;
  grid-column-end: 11;
  grid-row-start: 16;
  grid-row-end: 17;
}

@media (max-width: 480px) {
  .gridContainer {
    display: grid;
    grid-template-columns: 1fr;
  }
}
